$body-bg: #fefefe;
$body-color: #111;

$theme-colors: (
  "primary": #C51F30,
  "accent": #A7A9AC,
  "danger": orange
);

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;

@import 'bootstrap';
