{{ define "main" }}
{{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
{{ $.Scratch.Set "lastYear" ""}}
<div class="jumbotron text-center">
  <h1>{{ .LinkTitle | humanize}}</h1>
</div>
<div class="container">
  <div class="row">
    {{ range .Pages }}
    <div class="col-sm-3 d-flex align-items-stretch my-2">
      <div class="card w-100 h-100">
        {{if .Params.imageSource }}
          <img src="{{.Params.imageSource}}" class="card-img-top" alt="...">
        {{end}}
        <div class="card-body">
            <h5 class="card-title"><a class="text-body" href="{{ .URL | relURL}}">{{ .Title | markdownify}}</a></h5>
            <p class="card-text">{{ .Summary | markdownify }}</p>
          
        </div>
        <div class="card-body mt-0 d-flex">
          <a href="{{ .URL | relURL}}" class="btn btn-primary btn-block align-self-end">Read More...</a>
        </div>
        <div class="card-footer text-muted">
          Published {{ dateFormat "January 2, 2006" .Date}}
        </div>
      </div>
    </div>
      
    {{ end }}
  </div>
</div>
{{ end }}
