{{ define "main" }}
<div class="container text-left">
  <h1 class="mt-5 text-center">{{ .Title | markdownify}}</h1>
  <div class="float-md-right card m-1">
    <div class="card-body">
      <p class="byline">
        <em>Published {{ .Date.Format "January 2, 2006" }} </em><br/>
        By:
        {{- $len := len .Params.author -}}
        {{- range $k, $v := .Params.author -}}
          {{- if ge $len 2 -}}
            {{- if eq (add $k 1) $len -}}
            , and
            {{- else if and (le (add $k 2)) (ne $k 0) $len -}}
            ,
            {{ end }}
            <a class="text-muted" href="{{ "/authors/" | relURL }}{{ (replace $v "." "") | urlize }}">{{ $v }}</a>
          {{- else -}}
          <a class="text-muted" href="{{ "/authors/" | relURL }}{{ (replace $v "." "") | urlize }}"> {{ $v }}</a><!-- That space before the double brackets is needed! -->
          {{- end -}}
        {{- end -}}
      </p>
    </div>
  </div>

  <div class="mt-2">
    {{ .Content }}
  </div>
  <hr class="mb-3">
</div>
<div class="row d-flex justify-content-center vw-100">
  <div class="col-md-2 text-center mx-1">
    {{ if .Prev }}
      <a class="btn btn-secondary" href="{{ .Prev.RelPermalink}}">Previous: {{ .Prev.Title | markdownify }}</a>
    {{ end }}
  </div>
  <div class="col-md-2 text-center text-muted mx-1">
    <p class="text-muted">
      {{ range .Params.tags }}
        <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </p>
  </div>
  <div class="col-md-2 text-center mx-1">
      {{ if .Next }}
        <a class="btn btn-secondary" href="{{ .Next.RelPermalink }}">Next: {{ .Next.Title | markdownify }}</a>
      {{ end }}
  </div>
</div>

{{ $related := .Site.RegularPages.Related . | first 3 }}
<div class="container mt-2">
  <h2 class="text-center">See also</h2>
  <div class="row">
    {{ partial "blogCards.html" (dict "toSearch" $related) }}
  </div>
</div>
{{ end }}
