{{ define "main" }}
<div class="container text-left">
  <h1 class="mt-5 text-center">{{ .Title | markdownify}}</h1>
  <div class="float-right card">
    <p class="font-weight-light p-2 m-1 mb-0" href="{{ .Permalink }}">
      <em>Published {{ .Date.Format "January 2, 2006" }} </em><br/>
      Wordcount: {{ .FuzzyWordCount }} <br />
      Reading time: {{ .ReadingTime }} minute{{if (ge .ReadingTime 2)}}s{{end}}
    </p>
  </div>

  <div class="mt-2">
    {{ .Content }}
  </div>
  <hr class="mb-3">
</div>
<div class="row d-flex justify-content-center">
  <div class="col-md-2 text-center mx-1">
    {{ if .Prev }}
      <a class="btn btn-secondary" href="{{ .Prev.URL | relURL}}">Previous: {{ .Prev.Title | markdownify }}</a>
    {{ end }}
  </div>
  <div class="col-md-2 text-center text-muted mx-1">
    <p class="text-muted">
      {{ range .Params.tags }}
        <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </p>
  </div>
  <div class="col-md-2 text-center mx-1">
      {{ if .Next }}
        <a class="btn btn-secondary" href="{{ .Next.URL | relURL }}">Next: {{ .Next.Title | markdownify }}</a>
      {{ end }}
  </div>
</div>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<div class="container mt-2">
  <h2 class="text-center">See also</h2>
  <div class="row">
  	{{ range . }}
    <div class="col-sm-6 d-flex align-items-stretch my-2">
      <div class="card w-100 h-100">
        {{if .Params.imageSource }}
          <img src="{{.Params.imageSource}}" class="card-img-top" alt="...">
        {{end}}
        <div class="card-body">
            <h5 class="card-title"><a class="text-body" href="{{ .URL | relURL}}">{{ .Title | markdownify}}</a></h5>
            <p class="card-text">{{ .Summary | markdownify }}</p>

        </div>
        <div class="card-body mt-0 d-flex">
          <a href="{{ .URL | relURL}}" class="btn btn-primary btn-block align-self-end">Read More...</a>
        </div>
        <div class="card-footer text-muted">
          Published {{ dateFormat "January 2, 2006" .Date}}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ end }}
