<div class="container bg-light">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="/" class="navbar-brand w-75">
      {{ $imageFull := (print .Site.BaseURL "img/logo-full.svg") }}
      {{ $image := (print .Site.BaseURL "img/logo.svg")}}
      <img src="{{ $imageFull }}" height="130" class="d-none d-lg-inline-block align-top" alt="Dataspace Publishing">
      <img src="{{ $image }}" class="d-inline-block align-top d-lg-none mt-1" alt="Dataspace Publishing">
      
    </a>
    <button class="navbar-toggler text-dark" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar">
      <ul class="navbar-nav">
        {{ $currentPage := lower .Page.RelPermalink }}
        {{ range .Site.Menus.main }}
        {{ if or (eq $currentPage .URL) (and (hasPrefix $currentPage .URL) (ge (len .URL) 2))}}
        <li class="nav-item active h4 mr-2">
          <a class="nav-link" href="{{ .URL | relURL }}" title="{{ .Title }}">{{ .Name }} <span class="sr-only">(current)</span></a>
        {{ else }}
        <li class="nav-item h4 mr-2">
          <a class="nav-link" href="{{ .URL | relURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>
</div>
