<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="img/icon/cropped-icon-32x32.png" sizes="32x32">
  <link rel="icon" href="img/icon/cropped-icon-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon" href="img/icon/cropped-icon-180x180.png">

  {{if .Title}}
    <title>{{ .Title }} - {{ .Site.Params.Brand }}</title>
  {{else}}
    <title>{{ .Site.Params.Brand }}</title>
  {{end}}
  
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  {{ partial "style.html" . }}
  {{ partial "js.html" . }}

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ template "_internal/google_analytics_async.html" . }}

</head>
