
<!-- Core libraries to bundle -->
{{ $jquery := resources.Get "js/jquery.js" | minify | fingerprint }}
{{ $popper := resources.Get "js/popper.js" | minify | fingerprint }}
{{ $bsJS := resources.Get "js/bootstrap.js" | minify | fingerprint }}

<script type="text/javascript" src="{{ $jquery.RelPermalink }}" integrity="{{ $jquery.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $popper.RelPermalink }}" integrity="{{ $popper.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $bsJS.RelPermalink }}" integrity="{{ $bsJS.Data.Integrity }}"></script>
