<!-- core CSS configutation -->
<!-- ====================== -->

  <!-- Bootstrap core + site customizations (run through SASS engine) -->
  {{ $bootstrap_custom := resources.Get "scss/bootstrap_custom.scss" }}
  {{ $bootstrap := $bootstrap_custom
    | resources.ExecuteAsTemplate "tmp/bootstrap_parsed.scss" .
    | toCSS (dict "targetPath" "css/bootstrap.css")
    | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $bootstrap.RelPermalink }}"
    integrity="{{ $bootstrap.Data.Integrity }}"/>

  <!-- syntax highlighting -->
  {{ $syntax := resources.Get "css/syntax.css"
    | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $syntax.RelPermalink }}"
    integrity="{{ $syntax.Data.Integrity }}"/>

  <!-- import Typekit module(s) -->
  <link rel="stylesheet" href="https://use.typekit.net/zot7ogg.css"/>


<!-- global CSS tweaks -->
<!-- ================= -->

  <style>
    .article p, .article ul, .article ol, .article blockquote {
      max-width: 45em;
    }

    .article p:first-child {
      font-size: 1.25em;
      font-weight: 300;
      max-width: 36em; /* 45 / 1.25 */
    }
  </style>
