<!-- core CSS configutation -->
<!-- ====================== -->

  <!-- Bootstrap core + site customizations (run through SASS engine) -- >
  {{ $core_scss := resources.Get "scss/core.scss" }}
  {{ $core := $core_scss | resources.ExecuteAsTemplate "scss/core_parsed.scss" . | toCSS (dict "targetPath" "css/core_compiled.css") }}

  <!-- syntax highlighting -->
  {{ $syntax := resources.Get "css/syntax-highlighting.css" }}

  {{ $style := slice $core $syntax | resources.Concat "css/core.css" | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

<!-- global CSS tweaks -->
<!-- ================= -->

  <style>
    .article p, .article ul, .article ol, .article blockquote {
      max-width: 45em;
    }

    .article p:first-child {
      font-size: 1.25em;
      font-weight: 300;
      max-width: 36em; /* 45 / 1.25 */
    }
  </style>
