{{ define "main" }}
{{ if .Params.jumbo }}
  <div id="carousel" class="carousel slide mb-5" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{{ .Params.jumbo }}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
{{ end }}
  <div class="container">
    {{ .Content }}
  </div>
  {{$recentPosts := 0}} <!-- Just a precaution in case you ever delete the recentPosts from _index.md-->
  {{if .Params.recentPosts }}
    {{$recentPosts = .Params.recentPosts }}
  {{end}}
  {{ if (ge $recentPosts 0) }}
    <div class="container mb-5">
      <h2 class="text-center mb-3">Fresh of the Press</h2>  
      <div class="row">
        {{ range first $recentPosts (where (where .Site.Pages ".Type" "posts") ".IsPage" true)}}
        <div class="col-sm d-flex align-items-stretch mt-2">
          <div class="card w-100">
            {{if .Params.imageSource }}
              <img src="{{.Params.imageSource}}" class="card-img-top" alt="...">
            {{end}}
            <div class="card-body">
                <h5 class="card-title"><a class="text-body" href="{{ .URL | relURL}}">{{ .Title | markdownify}}</a></h5>
                <p class="card-text">{{ .Summary | markdownify }}</p>
              
            </div>
            <div class="card-body mt-0 d-flex">
              <a href="{{ .URL | relURL}}" class="btn btn-primary btn-block align-self-end">Read More...</a>
            </div>
            <div class="card-footer text-muted">
              Published {{ dateFormat "January 2, 2006" .Date}}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
