<!--

  This shortcode generates a single Bootstrap Card

  Parameters:
  * src: string - The relative link to an image you want to display at the top of the card
  * alt: string - Alt text for the provided image
  * title: string - The title of the card
  * authors: string - If the post is supposed to have a byline. Comma seperated

-->
<div class="card w-100">
  {{- if isset .Params "src" -}}
    {{- $image := .Get "src"  -}}
    {{- $alt := $image | humanize -}}
    {{- if isset .Params "alt" -}}
      {{- $alt = .Get "alt" -}}
    {{- end -}}
    <img src="{{ $image }}" class="card-img-top" alt="{{ $alt }}"/>
  {{- end -}}
  <div class="card-body">
      {{- if isset .Params "title" -}}
        <h5 class="card-title mb-0">{{ .Get "title" | markdownify}}</h5>
      {{- end -}}
      <!-- TODO: https://markheath.net/post/css-comma-separated-list -->
      <!-- probably this is tricky because instead of isset we should use range .Params.author -->
      {{- with .Params -}}
        <small class="authors">
          By:
          <ul class="comma-list">
          {{- range $k, $v := (slice .authors) -}}
          <li><a class="text-muted" href="{{ "/authors/" | relURL }}{{ (replace $v "." "") | urlize }}">{{ $v }}</a></li>
          {{- end -}}
          </ul>
        </small>
        <hr class="p-0 m-0 mb-2 mt-1">
    {{- end -}}
    {{ .Inner | markdownify }}
  </div>
</div>
