<!--

    This shortcode creates a flex-grid-based 'gallery' of images with an option text

    This shortcode has the following parameters:
    * folder: string - The number of images in the gallery
    * text: bool - Wether or not texts are present for the gallery (default true)

-->

{{ $folder := .Get "folder" }}
{{ $baseUrl := .Site.BaseURL }}

{{ $text := true }}
{{ if .Get "text" }}
    {{ $text = .Get "text" }}
{{ end }}

<div class="card-deck my-5">
{{ range (readDir (print "content/" $folder)) }}
    {{ $isImg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)" }}
    {{ if $isImg }}
        <div class="card w-100">
            <img src="{{ print $baseUrl $folder .Name }}" class="card-img-top" alt="...">
            {{ if (eq $text true) }}
                <div class="card-body">
                {{ $description := readFile (print $folder (print (.Name | replaceRE "\\..*" "") ".md")) }}
                <p class="card-text">{{ $description | markdownify }}</p>
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
</div>