<!-- 

    This shortcode includes a given markdown file.

    This shortcode has the following parameters:
    * file: string- The file you want to read
    * markdown: bool - Wether or not the file should be run through markdownify (default true)
    * alignment: string - Text Alignment. Left, Right, or Center (default Left)
-->

{{ $file := .Get "file" }}
{{ $markdown := true }}
{{ if .Get "markdown" }}
    {{ $markdown = .Get "markdown" }}
{{ end }}

{{ $alignment := "left" }}
{{ if .Get "alignment" }}
    {{ $alignment = (lower (.Get "alignment")) }}
{{ end }}

{{ if (fileExists $file) }}
    <div class="text-{{ $alignment }}">
    {{ if (eq $markdown true) }}
        {{ readFile $file | markdownify }}
    {{ else }}
        {{ readFile $file }}
    {{ end }}
    </div>
{{ else }}
    File not found! Did you spell the name correctly? 
    Also remember: all files must be relative to the /content or /static folder!
{{ end }}