<!-- 

    This Shortcode creates a <div> with an <img /> tag that will always float left.
    
    This shortcode has the following parameters:
    * src: string - The source of the image (required)
    * width: number - Desired width of the image (default is 300)
    * height: number - Desired height of the image (default is 300)
    * alt: string - Text for the 'alt' attribute (defaul "Image")

-->

{{ $width := 300 }}
{{if (.Get "width")}}
    {{ $width = .Get "width" }}
{{end}}

{{ $height := 300 }}
{{if (.Get "height")}}
    {{ $height = .Get "width" }}
{{end}}

{{ $alt := "Image" }}
{{ if .Get "alt" }}
 {{ $alt = .Get "alt" }}
{{ end }}

<div style="min-height: {{ $height }}px;">
    <img src="{{.Get `src`}}" class="float-left p-2" height="{{ $height }}" width="{{ $width }}" alt="{{ $alt }}" />
    <p style="max-width: 70%;" class="p-0">
        {{ .Inner }}
    </p>
</div>